.header {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
}

.lower_wrapper {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 4px;
    cursor: pointer;
    background-color: aliceblue;
}

.btn:active {
    background-color: aquamarine;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }